@import "_paleta.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(./img_pizzas/pizza_background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    backdrop-filter: url(./img_pizzas/pizza_background.jpg) blur(4px);
}
/* header*/
.logo:hover{
    transform: scale(1.1);
    transition: all 0.4s;
}
.menu{
    width: 80%;
    margin: 0 auto;
}
.title{
    margin: 2em auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    letter-spacing: 5px;
    color: $color6;
}
.subtitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.p_home{
    margin: 2em 1em 2em 1em ;
    font-size: 2em;
    text-align: center;
    color: $color6;
}
.ubication {
    font-size: 2em;
    color: $color1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.map{
    height: 500px;
}
footer{
    margin-top: 6rem;
    background-color: rgba(210, 105, 30, 0.5);
    padding: 3rem;
    color:$color7;
}
.buttons{
    font-size: 40px;
}
    
footer a{
    transition: color 0.3s ease;
    float: right;
    text-decoration: none;
    color: $color6;
}
footer a:hover{
    color: $color7;
    transition: all 0.2s ease-in-out;
}
footer p{
    color:$color6;
    margin: 0;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Formulario{
    width: 30rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: $color6;
    box-shadow: 7px 5px 5px 0 $color7;
    .Formulario h4{
        font-size: 22px;
        margin-bottom: 20px;
    }
        .controles{
            width: 100%;
            background-color: #24303c;
            padding: 10px;
            border:#1f53c5 solid 2px;
            border-radius: 4px;
            margin-bottom: 1rem;
            resize: none;
        }
            .Formulario p{
                height: 80px;
                text-align: center;
                font-size: 20px;
                line-height: 40px;
            }
                .Formulario a{
                    color: $color6;
                    text-decoration: none;
                }
                    .Formulario a:hover{
                        color:$color6;
                        text-decoration:underline;
                        transition: color 0.3s ease-out;
                    }
                        .boton{
                            width: 100%;
                            background: #1f53c5;
                            border: none;
                            padding: 20px;
                            color: $color6;
                            margin: 20px 0;
                            font-size: 16px;
                        }
}
.casilla{
    margin-left: 10px;
}
.video__1{
    margin-left: 25%;
    width: 50%;
}
.image:hover{
    transform: scale(1.03);
    transition: all 0.3s;
}
.carousel{
    margin: 0 auto;
    width: 70%;
}
.carousel-inner{
    border-radius: 10%;
    border: $color7 2px solid;
    box-shadow: 10px -6px 5px 0px rgba(0,0,0,0.75);
}
.carousel-indicators [data-bs-target]{
    background-color: $color5;
    border: solid rgba(0,0,0,0.65);
}
.carousel-item{
    background-position: center;
    background-size: cover;
}
.logo{
    width: 30%;
}
.navbar{
    background-color: $color4;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}
.navbar-nav{
    align-content: space-around;
    align-items: center;
    gap:3rem;
}

.navbar-light .navbar-toggler{
    border-color:$color7;
    border-radius:  100%;
}
.navbar-light .navbar-nav .nav-link{
    color: $color7;
}
.navbar-light .navbar-nav .nav-link:hover{
    transform: scale(2);
    color: $color5;
    transition: all 0.3s;
}
.form-check-label{
    color: $color6;
}
h5{
    color: $color6;
}
.contt{
    padding: 2em;
    .row{
        justify-content: space-evenly;
        .imgg{
            border: $color2 1px solid;
                h4, p{
                    color:$color7;
                    text-align: left;
                    font-size: 20px;
                    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}
}
}

$i:1, 2, 3, 4 ,5, 6 ,7 ,8;

@for $i from 1 through 8{
    .img-p#{$i}{
        background-position: center;
        background-size: cover;
    }
}
    .img-p1{
    background-image: url(./img_pizzas/masa_pizza.jpg);
}
    .img-p2{
    background-image: url(./img_pizzas/p_1.jpeg) ;
}
    .img-p3{
    background-image: url(./img_pizzas/p_2.jpeg);
}
    .img-p4{
    background-image:url(./img_pizzas/p_3.jpeg) ;
}
    .img-p5{
    background-image:url(./img_pizzas/pizza-champignon.jpeg) ;
}
    .img-p6{
    background-image:url(./img_pizzas/pizza-chica.jpg) ;
}
.img-p7{
    background-image:url(./img_pizzas/pizza-cocina.jpg) ;
}
.img-p8{
    background-image:url(./img_pizzas/pizza-fondo2.jpg) ;
}
.realizarpedido{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin-top: 3em;
            .boton2{
                width: 20%;
                padding: 20px;
                background-color: $color5;  
    }
}
main{
    section{
        article{
            div{
                h2{
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 50%;
                }
            }
        }
    }
}
.banner{
    background-color: rgba(247, 123, 40, 0.6);
    padding: 6px;
    padding-bottom: 0;
    margin: 11px;
    border-radius: 10px 10px;
}
.sub{
    font-size: 45%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
